@font-face{
            font-family: Modia;
            src:url("../fontee/Moria_DF.TTF") format('opentype'), url(Moria_DF.TTF) format("truetype");
            font-weight: normal;
            font-style: normal;
}