@charset "UTF-8";

/*
--Cores--
#070A0D = preto
#400101 = vinho
#590303 = vinho mais claro
#8C1C1C = vermelho mais escuro
#BF2A2A = vermelho suco
#F23E2E = vermelho/rosa sla
#D90D1E = vermelho/rosa sla mais claro
#E89022 = amarelo conhecimento


*/

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #070A0D url(../imagens/pexels-aleksandar-radovanovic-436503074-15421709.jpg) no-repeat;
    background-size: cover;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: #070a0d92;
    color: white;
    width: 260px;
    height: 500px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.456);

    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: #181C20 url(../imagens/pexels-nika-benedictova-24565203-7150643.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario h1 {
    text-align: center;
    font-size: 1.5em;
}

div#formulario p {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

form > div.campo {
    background-color: #181c208e;
    border: 2px solid #ffffff;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 10px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: #590303;
    /*background-color: #181C20;*/
    font-size: 2em;
    width: 30px;
    padding: 5px;
}

div.campo > input {
    background-color: #22282d00;
    color: white;
    font-size: 1em;
    width: calc(100% - 50px);
    height: calc(100% - 8px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translate(42px, -42px);
    
}

div.campo > input:focus-within {
    background-color: #590303;
}

button {
    background-color: #070a0d29;
    color: white;
    width: 60px;
    height: 30px;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

button:hover {
    background-color: #590303;
}