@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:992px) {
    section#login {
        width: 80vw;
        height: 300px;
    }

    section#login > div#imagem {
        float: left;
        width: 45%;
        height: 100%;
        background-position: center center;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
        margin-right: 10px;
    }
}

@media  screen and (min-width: 992px)  {
    section#login {
        width: 950px;
        height: 350px;
    }

    section#login > div#imagem {
        float: right;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
        margin-left: 40px;
    }

    div#formulario > h1 {
        font-size: 1.5em;
    }

    div#formulario > p {
    font-size: 1.2em;
    margin: 10px 0px;
    }
}